<a href="https://colab.research.google.com/github/MaggieHDez/ClassFiles/blob/main/practica15a17_MCHD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Limpieza y Transformación de Datos**

>**Alumno:** Margarita Cristina Hernández Delgadillo\
>**Matrícula:** 255879

El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de carga de datos, normalización de nombres de columnas, separación y unión de columnas, errores en los tipos de datos. Todo es en un conjunto de datos utilizando `Pandas` en `Python`.

In [ ]:
# Conexión a Google Drive
from google.colab import drive
drive.mount('/content/drive')

## **Práctica 13. Carga de Datos**

**Instrucciones:**\
Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.
- Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
- Usa `df.tail(3)` para demostrar que no has cargado la última línea.
- Imprime la cantidad de filas y columnas del dataframe.

### Carga del archivo

In [47]:
# Importarndo pandas
import pandas as pd

archivo = "/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv"

# Cargar el archivo CSV omitiendo la ultima fila
df = pd.read_csv(archivo, skipfooter=1,engine="python")

# Comprobamos que se omitió la última fila
print("Últimas 3 filas del dataframe:\n", df.tail(3)) #la última fila debe ser la de "ID" 8413
print("\nCantidad de filas y columnas del dataframe: ", df.shape)

Últimas 3 filas del dataframe:
        Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84545        8411        5      WOODROW
84546        8412        5      WOODROW
84547        8413        5      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                ADDRESS  \
84545   7351   60                                  B2       49 PITNEY AVENUE
84546   7100   28                                  K6  2730 ARTHUR KILL ROAD
84547   7105  679                                  P9      155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[3 rows x 22 columns]

Cantidad de filas y columnas del dataframe:  (84548, 22)

## **Práctica 14. Agregar una columna**

**Instrucciones:**
- Imprime los nombres de la columnas del archivo.
- Asegúrate que el nombre de la primera columna debería ser `INDEX MIIAD`. Si esto no es así, entonces agrega dicho nombre a la columna y vuelve a imprimir los nombres para mostrar el cambio realizado.

In [48]:
# Imprimir el nombre de las columnas del archivo
print("Nombres de las columnas del archivo:\n", df.columns)

if df.columns[0] != "INDEX MIIAD":
  # Se renombra la columna 0 a INDEX MIIAD directo en el mismo df sin tener
  # que asignarlo a una variable
  df.rename(columns={df.columns[0]: "INDEX MIIAD"}, inplace=True)
  print("\nSe ha renombrado la primera columna a 'INDEX MIIAD'.")
  print("\nNuevos nombres de las columnas del archivo:\n", df.columns)
else:
    print("\nEl nombre de la primera columna es correcto.")

Nombres de las columnas del archivo:
 Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

Se ha renombrado la primera columna a 'INDEX MIIAD'.

Nuevos nombres de las columnas del archivo:
 Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

## **Práctica 15. Normalización de los nombres de la columna**

**Instrucciones:**
- Normaliza los nombres de las columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo.
- Imprime los nombres de las columnas para demostrar que has realizado la normalización.

In [49]:
# Convierte a minúsculas y reemplaza espacios con guión bajo
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Imprimir los nombres de las columnas
print("Nuevos nombres en minúsculas y con guión bajo:\n", df.columns)

Nuevos nombres en minúsculas y con guión bajo:
 Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

## **Práctica 16. Errores en los Tipos de Datos**

**Instrucciones:**
- Imprime los tipos de datos de cada columna.
- Asegúrate que las columnas de `SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet)` sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
- Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [51]:
# Imprimimos el tipo de datos de cada columna
print("Tipos de datos de cada columna:")
print(df.dtypes)

columnas_a_convertir = ["sale_price", "land_square_feet", "gross_square_feet"]

for columna in columnas_a_convertir: # Itera sobre cada nombre de columna en la lista
  # Verificar si la columna contiene valores no numéricos
  if not pd.to_numeric(df[columna], errors="coerce").notnull().all():
    # Convertir la columna a tipo flotante
    df[columna] = pd.to_numeric(df[columna], errors="coerce")

# Imprimimos el tipo de datos nuevamente para verificar
print("\nTipos de datos de cada columna después de la corrección:")
print(df.dtypes)

Tipos de datos de cada columna:
index_miiad                        int64
borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease-ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                        object
sale_date                         object
dtype: object

Tipos de datos de cada columna después de la corrección:
index_miiad                         int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

## **Práctica 17. Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario**

In [73]:
# DataFrame preprocesado
# Declaración de diccionario para guardar los datos
data_dict = {}
for col in df.columns:
    data_dict[col] = {
        "tipo": str(df[col].dtype), # Guarda el tipo de dato de la columna convertido a string
        "nulos": int(df[col].isna().sum()), # Guarda cuántos valores nulos hay en la columna
        "valores_unicos": int(df[col].nunique()) # Guardar cuántos valores únicos hay en la columna
    }


# Convertimos data_dict a un DataFrame. T mueve las columnas a filas
df_data_dict = pd.DataFrame(data_dict).T

print("Diccionario de datos del dataframe:\n", df_data_dict)

Diccionario de datos del dataframe:
                                    tipo  nulos valores_unicos
index_miiad                       int64      0          26736
borough                           int64      0              5
neighborhood                     object      0            254
building_class_category          object      0             47
tax_class_at_present             object      0             11
block                             int64      0          11566
lot                               int64      0           2627
ease-ment                        object      0              1
building_class_at_present        object      0            167
address                          object      0          67563
apartment_number                 object      0           3989
zip_code                          int64      0            186
residential_units                 int64      0            176
commercial_units                  int64      0             55
total_units                       int64      0            192
land_square_feet                float64  26252           6061
gross_square_feet               float64  27612           5690
year_built                        int64      0            158
tax_class_at_time_of_sale         int64      0              4
building_class_at_time_of_sale   object      0            166
sale_price                      float64  14561          10007
sale_date                        object      0            364