<a href="https://colab.research.google.com/github/MaggieHDez/ClassFiles/blob/main/practica6_MCHD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Práctica 6. Manejo de librería Pandas**
>**Alumno:** Margarita Cristina Hernández Delgadillo\
>**Matrícula:** 255879

Para esta práctica se cargó el archivo Titanic-Dataset.csv para realizar los siguientes ejercicios:

## Conexión a Google Drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Carga de archivo
En esta práctica se importó la librería pandas y se cargó el archivo titanic.csv

In [122]:
import pandas as pd

archivo = '/content/drive/MyDrive/ClassFiles/Titanic-Dataset.csv'

#Lectura del archivo Titanic
df = pd.read_csv(archivo)

df.head() #Impresion para comprobar que se pueden visualizar los datos del csv

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Ejercicio 1: Análisis de la distribución de supervivencia por combinación de sexo y clase del pasajero.

- Calcula la proporción de supervivencia para cada combinación de 'Sex' y 'Pclass'.
- Identifica qué combinación tuvo la tasa de supervivencia más alta.
- Identifica qué combinación tuvo la tasa de supervivencia más baja.

In [123]:
supervivencia_por_grupo = df.groupby(['Sex', 'Pclass'])['Survived'].mean()

#Calculando valor maximo y minimo y convirtiendo a porcentaje
tasa_max = supervivencia_por_grupo.idxmax(), f"{supervivencia_por_grupo.max():.2%}"
tasa_min =  supervivencia_por_grupo.idxmin(), f"{supervivencia_por_grupo.min():.2%}"

print("\nTasa de supervivencia más alta: {}".format(tasa_max))
print("\nTasa de supervivencia más baja: {}".format(tasa_min))

Tasa de supervivencia más alta: (('female', 1), '96.81%')

Tasa de supervivencia más baja: (('male', 3), '13.54%')

## Ejercicio 2: Identificación de familias grandes a bordo.

- Crea una nueva columna 'FamilySize' sumando las columnas 'SibSp' y 'Parch'.
- Considera como "familia grande" a aquellas donde 'FamilySize' es mayor a 3.
- Calcula el número de pasajeros en familias grandes.
- Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes.

In [124]:
# Nueva columna FamilySize
df['FamilySize'] = df['SibSp'] + df['Parch']
df['LargeFamily'] = df['FamilySize'] > 3 # Si el tamaño de FamilySize es mayor a 3 es familia grande

# Número de pasajeros en familias grandes
fam_grandes = df['LargeFamily'].sum()
#Supervivencia
supervivencia_fam_grandes = df[df['LargeFamily']]['Survived'].mean()

print(f"Número de pasajeros en familias grandes: {fam_grandes}")
print(f"Proporción de supervivencia entre los pasajeros que pertenecen a familias grandes: {supervivencia_fam_grandes:.2%}")

Número de pasajeros en familias grandes: 62
Proporción de supervivencia entre los pasajeros que pertenecen a familias grandes: 16.13%

## Ejercicio 3: Segmentación por grupos de edad.

Clasifica a los pasajeros en las siguientes categorías de edad(tip puede resultar mas sencillo realizarlo con una función)

- Menor de Edad
- Mayor de Edad

In [125]:
def clasificar_edad(edad):
    if edad < 18:
        return 'Menor de Edad'
    else:
        return 'Mayor de Edad'

df_p3 = df.copy()
df_p3 = df_p3.dropna(subset=['Age'])
df_p3.loc[:,'AgeGroup'] = df_p3['Age'].apply(clasificar_edad)

mayor_edad = df_p3[df_p3['AgeGroup'] == 'Mayor de Edad']
menor_edad = df_p3[df_p3['AgeGroup'] == 'Menor de Edad']

print(f"Número de pasajeros mayores de edad: {len(mayor_edad)}")
print(f"Número de pasajeros menores de edad: {len(menor_edad)}")

Número de pasajeros mayores de edad: 601
Número de pasajeros menores de edad: 113

## Ejercicio 4: Comparación entre promedios calculados manualmente y con Pandas

- Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos.
- Compara estos valores con los promedios obtenidos utilizando los métodos nativos de Pandas.
- Verifica que los resultados sean consistentes.

In [126]:
import numpy as np

df = df.dropna(subset=['Age','Fare'])

# Calculando el promedio de Age y Fare
promedio_age = np.nanmean(df['Age'])
promedio_fare = np.nanmean(df['Fare'])

promedio_age_pandas = df['Age'].mean()
promedio_fare_pandas = df['Fare'].mean()

print(f"Promedio de Age (NumPy): {promedio_age:.2f}")
print(f"Promedio de Age (Pandas): {promedio_age_pandas:.2f}")
print(f"Promedio de Fare (NumPy): {promedio_fare:.2f}")
print(f"Promedio de Fare (Pandas): {promedio_fare_pandas:.2f}")

if promedio_age == promedio_age_pandas and promedio_fare == promedio_fare_pandas:
    print("Los resultados son consistentes.")
else:
    print("Los resultados no son consistentes.")

Promedio de Age (NumPy): 29.70
Promedio de Age (Pandas): 29.70
Promedio de Fare (NumPy): 34.69
Promedio de Fare (Pandas): 34.69
Los resultados son consistentes.

## Ejercicio 5. Creación de intervalos de clase usando NumPy y análisis con Pandas

- Divide la columna 'Fare' en 5 intervalos equidistantes utilizando la función numpy.linspace.
- Crea una nueva columna en el DataFrame que asigne a cada pasajero el intervalo correspondiente de su tarifa.
- Calcula el número de pasajeros en cada intervalo utilizando Pandas y la proporción de supervivientes por intervalo.

In [129]:
#Re-importamos y leemos nuevamente para obtener datos completos

import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/ClassFiles/Titanic-Dataset.csv')

df = df.dropna(subset = ['Fare']) # Eliminar valores nulos en Fare

intervalos_fare = np.linspace(df['Fare'].min(), df['Fare'].max(), 6)
df['FareInterval'] = pd.cut(df['Fare'], bins=intervalos_fare,labels=[f'{intervalos_fare[i]:.2f} a {intervalos_fare[i+1]:.2f}' for i in range(len(intervalos_fare)-1)])

valor_fare = df['FareInterval'].value_counts()
supervivencia_fare = df.groupby('FareInterval', observed=True)['Survived'].mean().apply(lambda x: f"{x:.2%}")
print("Número de pasajeros en cada intervalo: {}".format(valor_fare.to_string()))
print("\nProporción de supervivientes por intervalo: {}".format(supervivencia_fare.to_string()))

Número de pasajeros en cada intervalo: FareInterval
0.00 a 102.47      823
102.47 a 204.93     33
204.93 a 307.40     17
409.86 a 512.33      3
307.40 a 409.86      0

Proporción de supervivientes por intervalo: FareInterval
0.00 a 102.47       36.70%
102.47 a 204.93     75.76%
204.93 a 307.40     64.71%
409.86 a 512.33    100.00%